
html,
body {
  background-color: $white;
  color: $brand-text-color;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100%;
  margin: 0;

}

body {
  padding-top: 5rem;

}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  padding-bottom: 4em;
}

footer {
  flex: 0 0 auto;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 84px;
}

.main-content {
  margin: auto;
  max-width: 1024px;
  padding: 20px;
}

.main-info {
  .page-header {
    min-height: 380px;

    .container {
      padding-top: 80px;
      text-align: center;
    }
  }
}

.navbar {
  background-color: $brand-light-color;
}