
html,
body {
  background-color: $white;
  color: $brand-text-color;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100%;
  margin: 0;

}

html body {
  margin-top: 56px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  padding-bottom: 4em;
  z-index: 1;
}

footer {
  flex: 0 0 auto;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.main-content {
  margin: auto;
  max-width: 1024px;
  padding: 20px;
}

.main-info {
  background-color: rgba(52, 58, 64, 0.1);

  .page-header {
    min-height: 340px;
    padding-bottom: 40px;

    .container {
      padding-top: 80px;
      text-align: center;
    }
  }
}

.navbar {
  background-color: $brand-light-color;
}

.bg-castletown {
  background-image: url("/img/home/castletown.png");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-size: cover;

  &:after {
    width: 100%;
    height: 100px;
    content: "";
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
    background-color: #343a40;
    position: absolute;
    bottom: 0;
  }
}

#update-form {
  padding-top: 3rem;

}