
html,
body {
  background-color: $white;
  color: $brand-text-color;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 84px;
}

.main-content {
  margin: auto;
  max-width: 1024px;
  padding: 20px;
}

.main-info {
  .page-header {
    min-height: 500px;

    .container {
      padding-top: 130px;
      text-align: center;
    }
  }
}
